.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-template-page-landing {
  .landing-container {
    font-family: 'Poiret One';
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
  }
  .landing-inner {
    display: inline-block;
    position: relative;
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 2.15em;
    }
  }
}